name: Build Gateway Container

on:
  workflow_call:

jobs:
  build-gateway-container:
    runs-on: ubuntu-latest
    if: github.repository == 'RouterBase/tensorzero'
    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Namespace CLI
        uses: namespacelabs/nscloud-setup@d1c625762f7c926a54bd39252efff0705fd11c64
        continue-on-error: ${{ github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}

      - name: Configure Namespace-powered Buildx
        uses: namespacelabs/nscloud-setup-buildx-action@91c2e6537780e3b092cb8476406be99a8f91bd5e
        with:
          wait-for-builder: true
        continue-on-error: ${{ github.event.pull_request.head.repo.full_name != github.repository || github.actor == 'dependabot[bot]' }}

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push `gateway` container to GHCR
        run: |
          docker buildx build --push \
            --build-arg BUILDKIT_CONTEXT_KEEP_GIT_DIR=1 \
            --build-arg PROFILE=dev \
            -f gateway/Dockerfile . \
            -t ghcr.io/${{ github.repository }}/gateway:sha-${{ github.sha }} \
            -t ghcr.io/${{ github.repository }}/gateway:latest